@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #f5f2ed;
    color: #283618;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
